<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu">

	<!--  创建func_dict信息  -->
	<insert id="createMenu" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
		insert into fnd_func(func_id,func_name,func_type,func_pid,valid,func_desc,func_icon,func_url,`order`,target)
		values ('${func_id}','${func_name}','${func_type}',
		<if  test="func_pid == null or func_pid == ''">NULL</if>
		<if  test="func_pid != null and func_pid != ''">#{func_pid}</if>,
		<if  test="valid == null or valid == ''">1</if>
		<if  test="valid != null and valid != ''">#{valid}</if>,
		<if  test="func_desc == null">NULL</if>
		<if  test="func_desc != null">'${func_desc}'</if>,
		'${func_icon}','${func_url}',
		<if  test="order == null or order == ''">NULL</if>
		<if  test="order != null and order != ''">#{order}</if>,
		'${target}'
		)
	</insert>
	<!-- 修改 func_dict 表的信息 -->
	<update id="updateMenu" parameterType="Map">
		update fnd_func set func_name='${func_name}',func_type='${func_type}',
		func_pid=
		<if  test="func_pid == null or func_pid ==''">NULL</if>
		<if  test="func_pid != null and func_pid != ''">#{func_pid}</if>
		,valid=
		<if  test="valid == null or valid ==''">NULL</if>
		<if  test="valid != null and valid != ''">#{valid}</if>
		,func_desc=
		<if  test="func_desc == null">NULL</if>
		<if  test="func_desc != null">'${func_desc}'</if>
		,func_icon=
		<if  test="func_icon == null">NULL</if>
		<if  test="func_icon != null">'${func_icon}'</if>
		,func_url=
		<if  test="func_url == null">NULL</if>
		<if  test="func_url != null">'${func_url}'</if>
		,`order`=
		<if  test="order == null or order == ''">NULL</if>
		<if  test="order != null and order != ''">#{order}</if>,
		target=
		<if  test="target == null">NULL</if>
		<if  test="target != null">'${target}'</if>
		where func_id=#{func_id,jdbcType=INTEGER}
	</update>

	<select id="getMenuById" parameterType="java.lang.String" resultType="map">
        SELECT u.* FROM fnd_func u where u.func_id = #{func_id}
    </select>

	<select id="getMenuByPId" parameterType="java.lang.String" resultType="map">
        SELECT u.*,u.func_id as 'key' FROM fnd_func u where u.func_pid = #{func_pid}
    </select>

    <select id="getAllPage" resultType="Map" parameterType="Map">
        SELECT u.*  FROM fnd_func u  where  1=1
		<if  test="func_name != null and func_name!='' ">
			and  u.func_name like '%${func_name}%'
		</if>
    </select>

	<select id="getMaxId" resultType="java.lang.Integer">
        SELECT (MAX(CONVERT(func_id,SIGNED) +1)) as func_id from fnd_func
    </select>
	<!-- 根据dict_id 跟 dict_out_id 删除func_dict_out 表相关信息  -->
	<delete id="deleteMenuByID" parameterType="Map">
        delete from fnd_func where func_id=#{func_id}
    </delete>

</mapper>
